<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}

    {% if page.toc==true %}
      <aside class="toc">
        {% include toc.html html=content %}
      </aside>
    {% endif %}

    <div id="main" role="main" class="wrapper-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include analytics.html %}
    <!-- back to top button --> 
    <script type="text/javascript" src="{{ site.url }}/{{ site.baseurl }}/assets/js/jquery-3.2.1.min.js"></script>
    <script src="{{ site.url }}/{{ site.baseurl }}/assets/js/back-to-top.js"></script>
    <button id="btn-top" class="btn-top" title= "Go to top">&#11165</button>
  </body>
  {% if page.toc==true %}
  <script>
    document.getElementById("main").classList.add("withtoc");
  </script>
  {% endif %}

  <div class="wrapper-footer-mobile">
    <footer class="footer">
      {% include footer.html %}
    </footer>


</html>
